@use './variables' as *;
.contact {
	display: flex;
	justify-content: space-around;
	h4 {
		text-align: center;
		margin: 3% 0;
		font-size: 6rem;
	}
	.formContainer {
		margin-top: -8%;
		width: 45vw;
		.topContact {
			display: flex;
			gap: 2%;
			input[type='text'] {
				width: 22vw;
				background-color: rgb(39 39 42);
				color: $white;
				border: none;
				padding: 2%;
				cursor: text;
				border-radius: 15px;
			}
			input[type='email'] {
				width: 22vw;
				background-color: rgb(39 39 42);
				color: $white;
				border: none;
				padding: 2%;
				cursor: text;
				border-radius: 15px;
			}
		}
		textarea {
			background-color: rgb(39 39 42);
			color: $white;
			border: none;
			margin: 4% 0%;
			width: 45vw;
			border-radius: 15px;
			resize: none;
			height: 30vh;
			padding: 2%;
			cursor: text;
		}
		button {
			font-size: 2.6rem;
			border-radius: 9999px;
			background-color: rgb(39 39 42);
			color: $white;
			width: 20vw;
			margin: 0 auto;
			border: none;
		}
	}
	form {
		display: flex;
		flex-direction: column;
		font-size: 2rem;
	}
	.thankYou {
		display: none;
		text-align: center;
		width: 45vw;
		button {
			font-size: 2.4rem;
			border-radius: 9999px;
			background-color: rgb(39 39 42);
			color: $white;
			width: 20vw;
			margin: 0 auto;
		}
	}
	#map {
		border-radius: 15px;
	}
}
