@use 'variables' as *;
.hero {
	display: flex;
	justify-content: center;
	flex-direction: column;

	.heroText {
		text-align: center;
		width: 40%;
	}
	h2 {
		text-align: center;
		font-size: 8rem;
	}
	button {
		margin-bottom: 7%;
		font-size: 2.8rem;
		border: 3px solid black;
		background-color: transparent;
		color: #fff;
		border-radius: 5px;
		padding: 10px 25px;
		box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
			7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
		&:hover {
			background-color: $blue;
		}
		a {
			color: #fff;
		}
	}
}
