@use './variables' as *;
.slideshow {
	display: flex;
	flex-direction: column;
	gap: 2%;
	h4 {
		margin: 0;
		padding: 0;
	}
}
.slider {
	width: 100%;
	max-width: 75vw;
	height: 70vh;
	position: relative;
	overflow: hidden;
	border-radius: 15px;
	z-index: 10;
}

.slide {
	width: 100%;
	max-width: 75vw;
	height: 70vh;
	position: absolute;
	transition: all 0.5s;
	&:hover {
		.info {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			text-align: center;
			background-color: rgba(0, 0, 0, 0.85);
			backdrop-filter: blur(4px);
		}
	}
}

.slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.btn {
	position: absolute;
	width: 40px;
	height: 40px;
	padding: 10px;
	border: none;
	border-radius: 50%;
	z-index: 10px;
	cursor: pointer;
	background-color: #fff;
	font-size: 18px;
}
.btn:active {
	transform: scale(1.1);
}
.btn-prev {
	top: 45%;
	left: 2%;
}

.btn-next {
	top: 45%;
	right: 2%;
}

.info {
	h2 {
		font-size: 3rem;
	}
	p {
		font-size: 1.8rem;
	}
	a {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		gap: 20px;
		margin-top: 2%;
		img {
			width: 20%;
			&:hover {
				border: 4px solid $blue;
			}
		}
	}
}
